.all-products__wrapper {
  border-top: 1px solid $white-five;
border-bottom: 1px solid $white-five;
margin-top: -1px;
@include flex-column;
@include center;
@include pad(78px, 20px, 24px, 20px);
}

.all-products__title {
@include font-Oswald(16px, 20px);
@include text-style($dark-grey1, uppercase);
padding-bottom: 9px;
}

.all-products__text {
  @include font-Arial(12px, 16px);
  @include text-style($greyish-brown);
  padding-bottom: 21px;

}

.all-products__button {
  @include btn-grey;
  @include pad(9px, 0, 9px, 0);
  @include link-btn($white-three, $greyish-brown);
}
