.basic-products__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include list;
}

.basic-products__item {
  border-top: 1px solid $white-five;

  &:last-of-type {
    border-bottom: 1px solid $white-five;
  }
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.basic-products__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.basic-products__container--all {
  flex-direction: column;
}

.basic-products__description {
  width: 141px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 19px;
  padding-bottom: 22px;
}

.basic-products__title {
  @include font-Oswald(16px, 20px);
  @include text-style($dark-grey1, uppercase);
  @include text-dec;
}

.basic-products__title--table {
  width: 75px;
  padding-bottom: 14px;
}

.basic-products__title--all {
  @include center;
  padding-top: 77px;
  padding-bottom: 9px;

  @include push-auto;
}

.basic-products__title a {
  @include text-style($dark-grey1, uppercase);
}

.basic-products__info {
  @include font-Arial(12px, 16px);
  @include text-style($greyish-brown);
}

.basic-products__info--table {
  width: 141px;
  border-collapse: collapse;
}

.basic-products__info--all {
  padding-bottom: 21px;

  @include center;
  @include push-auto;
}

.basic-products__value {
  text-align: right;
}

.basic-products__button {
  @include btn-green(16px, 20px);
  padding-top: 9px;
  padding-bottom: 11px;

  @include link-btn($grass);
}

.basic-products__button--all {
  @include btn-grey;
  padding-top: 9px;
  padding-bottom: 11px;

  @include link-btn($white-three, $greyish-brown);
}

.basic-products__image {
  display: block;
  font-size: 0;
  width: 140px;
  height: 144px;
}

@media (min-width: $tablet-width) {
  .basic-products__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .basic-products__item {
    width: 324px;
    padding-bottom: 40px;
    background-color: $light-grey;
    margin-bottom: 140px;
    border: none;

    &:last-of-type {
      background-color: $white;
      border: 1px solid $pinkish-grey;
      margin-bottom: 0;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
    padding-right: 0;
    padding-left: 0;
  }

  .basic-products__container {
    flex-direction: column;
  }

  .basic-products__description {
    width: 249px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 36px;
    padding-bottom: 35px;
    margin-left: 38px;
    margin-right: 37px;
  }

  .basic-products__title {
    @include font-Oswald(20px, 20px);
  }

  .basic-products__title--table {
    width: 130px;

    @include push-auto;
    padding-bottom: 20px;

    @include center;
  }

  .basic-products__title--all {
    padding-top: 163px;
    padding-bottom: 28px;
    width: 134px;
  }

  .basic-products__image--small {
    width: 324px;
    height: 174px;
    margin-top: -47px;
  }

  .basic-products__image--big {
    width: 324px;
    height: 208px;
    margin-top: -82px;
  }

  .basic-products__info {
    @include font-Arial(16px, 16px);
  }

  .basic-products__info--table {
    width: 249px;

    & tr {
      border-bottom: 1px solid $pinkish-grey;
    }

    & td {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  .basic-products__info--all {
    padding-bottom: 88px;
    width: 167px;
  }

  .basic-products__button {
    margin-left: 38px;
    margin-right: 37px;
  }
}

@media (min-width: $desktop-width) {
  .basic-products__list {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .basic-products__item {
    width: 245px;
    margin-bottom: 142px;
    border: none;
    padding-right: 0;
    padding-left: 0;

    &:nth-last-of-type(3) {
      margin-bottom: 0;
    }

    &:nth-last-of-type(4) {
      margin-bottom: 0;
    }
  }

  .basic-products__description {
    width: 245px;
    padding-top: 37px;
    padding-bottom: 35px;
    margin: 0;
  }

  .basic-products__title--table {
    padding-bottom: 20px;
  }

  .basic-products__title--all {
    padding-top: 163px;
    padding-bottom: 27px;
  }

  .basic-products__image--small {
    width: 245px;
    height: 174px;
    margin-top: -47px;
  }

  .basic-products__image--big {
    width: 245px;
    height: 208px;
    margin-top: -82px;
  }

  .basic-products__info--table {
    width: 169px;

    @include push-auto;
  }
}
