.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.copyright__text {
  @include font-Arial(16px, 16px);
  @include text-style($greyish-brown);
  @include link-text(1, 0.3);
}

.copyright__image {
  @include link-svg($brownish-grey, $leaf, 0.3);
  font-size: 0;
  margin-right: -7px;
}

.copyright__image svg {
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    width: 164px;
  }
}
