.fill-form {
  @include flex-column;
  border: none;
}

.fill-form--cat {
  @include pad(0, 20px, 11px, 20px);
}

.fill-form__item--cat {
  @include flex;
  padding-bottom: 14px;
  flex-wrap: nowrap;
  justify-content: stretch;
  //width: 280px;
}

.fill-form__label {
  @include font-Oswald(16px, 18px);
  @include text-style($dark-grey2, uppercase);
  white-space: nowrap;
}

.fill-form__label span {
  padding-right: 7px;
}

.fill-form__input::placeholder {
  @include font-Oswald(16px, 18px);
  @include text-style($greyish-brown, uppercase);
}

.fill-form__input {
  @include pad(18px, 0, 10px, 16px);
  border: 1px solid $pinkish-grey;
  flex-grow: 1;
}

.fill-form--programme {
  border-top: 1px solid $white-five;
  border-bottom: 1px solid $white-five;
  @include pad(25px, 20px, 1px, 20px);
}

.fill-form__item--programme {
padding-bottom: 23px;
}

.fill-form__label--programme {
padding-left: 30px;
}

.fill-form__title {
  @include font-Oswald(24px, 24px);
  @include text-style($dark-grey1);
}

.fill-form--owner {
  @include pad(0, 20px, 15px, 20px);
}

.fill-form__title--owner {
  padding-top: 29px;
  padding-bottom: 32px;
}

.fill-form__item--owner {
  padding-bottom: 14px;
}

.fill-form__label--owner {
  padding-right: 9px;
}

.fill-form--comment {
  @include pad(0, 20px, 28px, 20px);
}

.fill-form__title--comment {
  padding-bottom: 35px;
}

.fill-form__input--comment {
  width: 280px;
  height: 150px;
  padding-top: 12px;
}

.fill-form--extra {
  @include pad(0, 20px, 18px, 20px);

}

.fill-form__title--extra {
  padding-bottom: 40px;
}

.fill-form__label--extra {
  padding-left: 29px;
}

.fill-form__item--extra {
  padding-bottom: 22px;
}

.data-fill__button {
  @include btn-green(16px, 20px);
  @include pad(9px, 0, 9px, 0);
  @include link-btn($grass);
  @include push-auto;
}
