.fill-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
}

.fill-form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 7px;
  padding-bottom: 41px;
}

.fill-form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 14px;
  justify-content: flex-start;
}

.fill-form__item:last-of-type {
  padding-bottom: 0;
}

.fill-form__label {
  @include font-Oswald(16px, 18px);
  @include text-style($dark-grey2, uppercase);
  white-space: nowrap;
}

.fill-form__label sup {
  top: 5px;
  position: relative;
}

.fill-form__label--cat {
  padding-right: 9px;
}

.fill-form__input::placeholder {
  @include font-Oswald(16px, 18px);
  @include text-style($greyish-brown, uppercase);
}

.fill-form__input {
  padding-top: 15px;
  padding-right: 11px;
  padding-bottom: 13px;
  padding-left: 16px;
  border: 1px solid $pinkish-grey;
}

.fill-form__input--cat,
.fill-form__input--owner {
  flex-grow: 1;
}

.fill-form__item--programme {
  padding-bottom: 25px;
}

.fill-form__label--programme {
  padding-left: 33px;
}

.fill-form__title {
  @include font-Oswald(24px, 24px);
  @include text-style($dark-grey1);
  padding-top: 30px;
  padding-bottom: 32px;
}

.fill-form__label--owner {
  padding-right: 11px;
}

.fill-form__input--comment {
  width: 280px;
  height: 150px;
  padding-top: 12px;
}

.fill-form__label--extra {
  padding-left: 34px;
}

.fill-form__item--extra {
  padding-bottom: 24px;
}
