.fill-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
}

.fill-form__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 7px;
  padding-bottom: 41px;
}

.fill-form__item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 14px;
  justify-content: flex-start;
}

.fill-form__item:last-of-type {
  padding-bottom: 0;
}

.fill-form__label {
  @include font-Oswald(16px, 18px);
  @include text-style($dark-grey2, uppercase);
}

.fill-form__label sup {
  top: 5px;
  position: relative;
}

.fill-form__label--cat {
  padding-right: 9px;
}

.fill-form__input::placeholder {
  @include font-Oswald(16px, 18px);
  @include text-style($greyish-brown, uppercase);
}

.fill-form__input {
  padding-top: 15px;
  padding-right: 11px;
  padding-bottom: 13px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba($pinkish-grey, 0.5);

  &:hover,
  &:focus {
    border: 1px solid $pinkish-grey;
  }

  &:active {
    border: 2px solid $greyish-brown;
  }

  &:invalid {
    border: 2px solid $peachy-pink;
  }
}

.fill-form__input--cat,
.fill-form__input--owner {
  flex-grow: 1;
}

.fill-form__input--owner:active + .fill-form__icon {
  fill: $leaf;
}

.fill-form__input--owner:invalid + .fill-form__icon {
  fill: $peachy-pink;
}

.fill-form__item--owner {
  position: relative;
}

.fill-form__icon {
  position: absolute;

  &--mail {
    width: 18px;
    height: 14px;
    top: 15px;
    right: 15px;
  }

  &--phone {
    width: 21px;
    height: 21px;
    top: 13px;
    right: 12px;
  }
}

.fill-form__item--programme {
  padding-bottom: 25px;
}

.fill-form__label--programme {
  padding-left: 33px;
}

.fill-form__title {
  @include font-Oswald(24px, 24px);
  @include text-style($dark-grey1);
  padding-top: 29px;
  padding-bottom: 34px;
}

.fill-form__label--owner {
  padding-right: 11px;
}

.fill-form__input--comment {
  width: 280px;
  height: 150px;
  padding-top: 12px;
}

.fill-form__label--extra {
  padding-left: 34px;
}

.fill-form__item--extra {
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .fill-form {
    padding: 0;
  }

  .fill-form__label {
    @include font-Oswald(20px, 20px);
  }

  .fill-form__input::placeholder {
    @include font-Oswald(20px, 20px);
  }

  .fill-form__title {
    @include font-Oswald(36px, 36px);
  }

  .fill-form__title--owner {
    padding-top: 76px;
    padding-bottom: 75px;
  }

  .fill-form__icon {
    &--mail {
      top: 19px;
      right: 18px;
    }

    &--phone {
      top: 17px;
      right: 15px;
    }
  }

  .fill-form__input {
    padding-top: 22px;
    padding-right: 18px;
    padding-bottom: 13px;
    padding-left: 18px;
  }

  .fill-form__item--cat {
    padding-bottom: 20px;
  }

  .fill-form__label--cat {
    padding-right: 19px;
  }

  .fill-form__item--programme {
    padding-bottom: 33px;
  }

  .fill-form__label--programme {
    padding-left: 74px;
  }

  .fill-form__label--owner {
    padding-right: 21px;
  }

  .fill-form__item--owner {
    padding-bottom: 20px;
  }

  .fill-form__title--comment {
    padding-top: 65px;
    padding-bottom: 76px;
  }

  .fill-form__input--comment {
    width: 631px;
    height: 174px;
    padding-top: 15px;
  }

  .fill-form__title--extra {
    padding-top: 65px;
    padding-bottom: 67px;
  }

  .fill-form__container {
    padding: 0;
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fill-form__item--extra {
    width: 225px;
    padding-bottom: 51px;

    &:nth-last-of-type(1) {
      padding-bottom: 0;
    }

    &:nth-last-of-type(2) {
      padding-bottom: 0;
    }
    margin-right: 119px;
  }

  .fill-form__label--extra {
    padding-left: 46px;
  }
}

@media (min-width: $desktop-width) {
  .fill-form__title--owner {
    padding-top: 69px;
  }

  .fill-form__wrapper {
    display: flex;
    flex-direction: row;
    width: 1220px;
    justify-content: space-between;
  }

  .fill-form__item--owner {
    padding-bottom: 0;
    width: 570px;
  }

  .fill-form__icon {
    &--mail {
      top: 20px;
      right: 20px;
    }

    &--phone {
      top: 17px;
      right: 18px;
    }
  }

  .fill-form__title--comment {
    padding-top: 68px;
    padding-bottom: 76px;
  }

  .fill-form__input--comment {
    width: 1220px;
  }

  .fill-form__title--extra {
    padding-top: 66px;
  }

  .fill-form__container {
    width: 1220px;
  }

  .fill-form__item--extra {
    width: 245px;
    margin-right: 80px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
