.page-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 16px;
  width: 320px;
  margin: 0 auto;
}

.page-form__title {
  @include font-Oswald(36px, 60px);
  @include text-style($dark-grey1);
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.page-form__text {
  @include font-Oswald(14px, 19px);
  @include text-style($dark-grey1, uppercase);
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 54px;
}

.page-form__location .collaboration__wrapper {
  background-color: $light-grey;
}

@media (min-width: $desktop-width) {
  .page-form__location .collaboration__wrapper {
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .page-form__wrapper {
    width: 768px;
    padding-top: 56px;
  }

  .page-form__title {
    @include font-Oswald(60px, 60px);
    padding-right: 30px;
    padding-bottom: 56px;
    padding-left: 30px;
  }

  .page-form__text {
    @include font-Oswald(20px, 30px);
    padding-bottom: 65px;
    padding-left: 70px;
    padding-right: 375px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__wrapper {
    width: 1300px;
    padding-top: 73px;
  }

  .page-form__title {
    padding-right: 40px;
    padding-bottom: 56px;
    padding-left: 40px;
  }

  .page-form__text {
    padding-bottom: 65px;
    padding-left: 40px;
    padding-right: 900px;
  }
}
