.present {
  @include marg(39px, 20px, 35px, 20px);
  background-color: $leaf;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
}

.present__description {
  @include font-Arial(16px, 20px);
  @include text-style($white);
  @include center;
  @include pad(187px, 0, 43px, 0);
  width: 161px;
  //padding-left: 30px;
  display: block;

  @include push-auto;
}
