.programme__wrapper {
  padding-right: 20px;
  padding-left: 20px;
  width: 320px;
  margin: 0 auto;
}

.programme__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include list;
}

.programme__item {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  margin-bottom: 20px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.programme__title {
  @include font-Oswald(24px, 37px);
  @include text-style($dark-grey1, uppercase);
  padding-bottom: 30px;
  padding-left: 71px;
}

.programme__image {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $leaf;
  position: absolute;
  top: 24px;
  left: 22px;
}

.programme__icon {
  position: absolute;
  display: block;

  &--slim {
    top: -1px;
    left: 1px;
    width: 50px;
    height: 50px;
  }

  &--pro {
    top: 12px;
    left: -8px;
    width: 67px;
    height: 28px;
  }
}

.programme__description {
  @include font-Arial(14px, 18px);
  @include text-style($greyish-brown);
  border-bottom: 1px solid $whitish-grey;
  padding-right: 15px;
  padding-bottom: 22px;
}

.programme__catalog {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 19px;

  @include link-text(1, 0.3);
}

.programme__name {
  @include font-Oswald(16px, 16px);
  @include text-style($dark-grey1, uppercase);
  margin-right: 11px;
}

.programme__arrow {
  width: 25px;
  height: 12px;
  fill: $dark;
}

@media (min-width: $tablet-width) {
  .programme__wrapper {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .programme__item {
    padding-top: 76px;
    padding-right: 285px;
    padding-bottom: 62px;
    padding-left: 52px;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .programme__title {
    @include font-Oswald(36px, 37px);
    padding-bottom: 25px;
    padding-left: 2px;
  }

  .programme__image {
    width: 200px;
    height: 200px;
    top: 92px;
    left: 446px;
  }

  .programme__icon {
    &--slim {
      top: -11px;
      left: 30px;
      width: 141px;
      height: 194px;
    }

    &--pro {
      top: 43px;
      left: -35px;
      width: 268px;
      height: 113px;
    }
  }

  .programme__description {
    @include font-Arial(16px, 24px);
    border-bottom: none;
    padding-right: 0;
    padding-bottom: 56px;

    &--losing-weight {
      width: 372px;
    }

    &--gain-weight {
      width: 340px;
    }
  }

  .programme__catalog {
    padding-top: 0;
  }

  .programme__name {
    @include font-Oswald(20px, 20px);
    margin-right: 24px;
  }

  .programme__arrow {
    width: 24px;
    height: 11px;
  }
}

@media (min-width: $desktop-width) {
  .programme__wrapper {
    width: 1300px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .programme__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .programme__item {
    width: 570px;
    margin: 0;
    padding-right: 56px;
  }

  .programme__title {
    padding-bottom: 75px;
    padding-left: 162px;
  }

  .programme__image {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .programme__icon {
    &--slim {
      top: -6px;
      left: 13px;
      width: 71px;
      height: 97px;
    }

    &--pro {
      top: 22px;
      left: -18px;
      width: 134px;
      height: 57px;
    }
  }

  .programme__description {
    padding-bottom: 31px;

    &--losing-weight {
      width: 462px;
    }

    &--gain-weight {
      width: 445px;
    }
  }
}
