.promo__wrapper {
//background-color: $leaf;
	background-image: url("../../img/index-background-mobile@1x.jpg");
	background-size: 320px 305px;
	background-repeat: no-repeat;
	background-position: top;
  display: block;
  @include flex-column;
  @include center;
  @include pad(28px, 20px, 20px, 20px);
}

.promo__title {
  @include font-Oswald(36px, 36px);
  @include text-style($white);
  padding-bottom: 24px;
}

.promo__slogan {
  @include font-Oswald(14px, 14px);
  @include text-style($white, uppercase);
  padding-bottom: 29px;

}

.promo__image {
  display: block;

  font-size: 0;
  padding-bottom: 3px;
}

.promo__button {
  @include btn-green(14px, 18px);
  @include pad(10px, 0, 10px, 0);
  @include link-btn($grass);
}

