@mixin list {
  list-style: none;
}

@mixin text-dec {
  a {
  text-decoration: none;
  }
}

@mixin font-Arial($fsize, $lheight, $fweight: 400) {
 font-family: "Arial", sans-serif;
 font-size: $fsize;
 line-height: $lheight;
 font-weight: $fweight;
}

@mixin font-Oswald($fsize, $lheight, $fweight: 400) {
 font-family: "Oswald", sans-serif;
 font-size: $fsize;
 line-height: $lheight;
 font-weight: $fweight;
}

@mixin text-style($color, $texttr: none) {
  color: $color;
  text-transform: $texttr;
}

@mixin push-auto {
  margin-left: auto;
  margin-right: auto;
 }

 @mixin btn {
   display: block;
   border: none;
   cursor: pointer;
   outline: none;
   text-align: center;
   text-decoration: none;
   background-color: white;
 }

 @mixin btn-green($fsize: 16px, $lheight: 20px) {
   @include btn;
   background-color: $leaf;
   @include font-Oswald($fsize, $lheight, $fweight: 400);
   @include text-style($white, uppercase);
   @include size(280px, 40px);
 }

 @mixin btn-grey($fsize: 16px, $lheight: 20px) {
  @include btn;
  background-color: $white-five;
  @include font-Oswald($fsize, $lheight, $fweight: 400);
  @include text-style($greyish-brown, uppercase);
  @include size(280px, 40px);
}

/* @mixin link-style($link, $visit, $hover, $active) {
   a {
     cursor: pointer;
     text-decoration: none;
     color: $link;
     &:visited {
       color: $visit;
     }
     &:hover {
       color: $hover;
     }
     &:focus {
       color: $hover;
     }
     &:active {
       color: $active;
     }
   }
 }*/

 @mixin link-text($hover, $active) {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      opacity: $hover;
    }
    &:focus {
      opacity: $hover;
    }
    &:active {
      opacity: $active;
    }
  }


 @mixin link-image($hover, $active) {
  img {
    cursor: pointer;
    &:hover {
      opacity: $hover;
    }
    &:focus {
      opacity: $hover;
    }
    &:active {
      opacity: $active;
    }
  }
}

@mixin link-svg($link, $hover, $active) {
    cursor: pointer;
    text-decoration: none;
    fill: $link;

    &:hover path {
      fill: $hover;
    }
    &:focus path {
      fill: $hover;
    }
    &:active path {
      fill-opacity: $active;
    }
}

@mixin link-btn($hover, $color: $white) {
  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $hover;
  }
  &:active {
    color: rgba($color, 0.3);
  }
}


@mixin center {
 text-align: center;
}

@mixin left{
 text-align: left;
}

@mixin pad($top, $right, $bottom, $left) {
padding-top: $top;
padding-right: $right;
padding-bottom: $bottom;
padding-left: $left;
}

@mixin marg($top, $right, $bottom, $left) {
margin-top: $top;
margin-right: $right;
margin-bottom: $bottom;
margin-left: $left;
}

@mixin flex($fdirect: row, $jcontent: space-between, $aitems: center) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $fdirect;
  justify-content: $jcontent;
  align-items: $aitems;
}

@mixin flex-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
